* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 50px;
}
a {
    text-decoration: none !important;
    color: #000000 !important;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.w33 {
    width: 33.3%;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.w40 {
    width: 40px;
}
.h40 {
    height: 40px;
}

#banner {
    position: relative;
    width: 100%;
    height: 50vh;
}
#banner::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.4;
    display: block;
    background-color: #000000;
}

#banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 1 0px;
}

#banner > .info {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -250%);
    z-index: 1;
    color: #f7f7f7;
}
#banner .info span {
    font-weight: initial;
}
.bg-grey {
    background: #f7f7f7;
}

#nav-bar {
    text-align: center;
}

#nav-bar .container {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 50px;
}
.container a p {
    margin-right: 10px;
}
#nav-bar > .container a {
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    width: 120px;
}
.container a p {
    color: #000000;
}

#banner .container .info {
    font-size: 14px;
}

#about .container #target {
    width: 50%;
    padding: 20px 30px;
}

#about .container #personal-info {
    width: 50%;
    padding: 20px 30px;
}
#personal-info > .info {
    padding-left: 0;
}
#personal-info > .info li {
    list-style: none;
}
#about > .container {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 50px;
}

.container #target {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: flex-start;
}
.container #personal-info {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: flex-start;
}
.container #personal-info li {
    margin-top: 5px;
}
#about .container .section-title {
    height: 30%;
}
#about {
    position: relative;
}
#about .avatar {
    width: 300px;
    height: 300px;
    overflow: hidden;
    top: 0;
    left: 50%;
    border: 10px solid #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -80%);
    position: absolute;
    box-shadow: 1px 2px 1px 1px rgba(218, 216, 216, 0.568);
}
#about .avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#personal-info .list-contact {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
#personal-info .list-contact a {
    margin-right: 20px;
}
#job-info {
    margin-bottom: 40px;
}
#job-info .container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}
.job-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    height: 70px;
}
.job-item {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.job-header > i {
    font-size: 50px;
}
.job-header > h2 {
    margin-bottom: 0;
}

.fs35px {
    font-size: 30px;
}
.certifi-top {
    display: flex;
    flex-direction: row;
}
.certifi-item {
    width: 50%;
    display: flex;
    flex-direction: row;
}
.list-icon {
    justify-content: space-around;
}
.list-icon .item-icon {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid rgb(95, 162, 250);
    color: rgb(95, 162, 250);
}
.level {
    margin-top: 30px;
}
.level .list-level {
    width: 100%;
    justify-content: flex-start;
}
.bg-blue {
    background-color: rgb(103, 103, 218);
}
.level span {
    margin-right: 10px;
    display: block;
    width: 50px;
    height: 5px;
}
.image-certificate {
    width: 50%;
}
.image-certificate img {
    width: 100%;
}
.certi-info {
    width: 50%;
}
.w-50 h5 {
    font-size: 15px;
}

.bor-bot {
    border-bottom: 1px solid #ffc13a;
    margin-top: 20px;
    margin-bottom: 40px;
}

#project {
    padding-top: 60px;
    padding-bottom: 40px;
}
#project .section-title {
    margin-bottom: 40px;
}
.img-head {
    width: 100%;
}
.img-head img {
    width: 100%;
}
#project p {
    margin-bottom: 0;
}
.project-container {
    display: flex;
    flex-direction: row;
}
.project-item {
    display: flex;
    min-height: 700px;
    flex-direction: column;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
#project span {
    padding: 4px 10px;
    background-color: rgb(95, 163, 240);
    border-radius: 15px;
}
.project-item-info {
    width: 80%;
    display: flex;
    flex-direction: row;
}
#footer .container {
    display: flex;
    justify-content: center;
}
#footer ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    height: 80px;
    font-size: 20px;
    margin-bottom: 0;
}
#footer ul li i {
    color: rgb(51, 142, 247);
}
#footer ul li:hover {
    cursor: pointer;
    opacity: 0.8;
}
